<!-- Coluna Esquerda (Links e Professor) -->
<div class="col-3 sombra p-5 mb-5">
    <!-- Foto do Professor e Detalhes -->
    <div class="row">
        <div class="col-12 text-center">
            <img class="imagem-professor" src="/images/professor.ico">
            <p class="texto"> Marco Antonio, Matemática </p>
        </div>
    </div>
    <!-- Links -->
    <div class="row">
        <div class="offset-3 col-9">
            <a href="/aluno/recados" class="texto-link"> <img class="imagens-classe" src="/images/recados.png">  Recados </a> <br> <br>
            <a href="/aluno/tarefas" class="texto-link"> <img class="imagens-classe" src="/images/tarefas.png"> Tarefas </a> <br> <br>
            <a href="/aluno/notas" class="texto-link"> <img class="imagens-classe" src="/images/notas.png"> Notas e Faltas </a> <br> <br>
            <a href="/aluno/salas" class="texto-link"> <img class="imagens-classe" src="/images/salas.png"> Salas </a>
        </div>
    </div>
</div>