<!-- Footer da Página -->
<footer class="page-footer font-small mdb-color pt-4 mt-5">
    <div class="container">
        <div class="row">
            <!-- Div que Contém a Parte "Sobre a Empresa" -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight footer-titulo-f">Sobre a empresa</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p class="footer-paragrafo-f">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus laboriosam nihil ut vitae.</p>
            </div>
            <!-- Div que Contém a Parte "Links Úteis" -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 text-center">
                <h6 class="text-uppercase mb-4 font-weight footer-titulo-f">Links úteis</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <!-- Div que Contém os Links "Dúvidas Frequentes", "Trabalhe Conosco" e "Seja um Apoiador" -->
                <div class="footer-lista-s-item">
                    <p>
                        <a class="dark-grey-text footer-lista-s-item-a" href="#">Dúvidas frequentes</a>
                    </p>
                    <p>
                        <a class="dark-grey-text footer-lista-s-item-a" href="#">Trabalhe conosco</a>
                    </p>
                    <p>
                        <a class="dark-grey-text footer-lista-s-item-a" href="#">Seja um apoiador</a>
                    </p>
                </div>
            </div>
            <!-- Div que Contém a Parte "Contato" -->
            <div id="contato" class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 text-center">
                <h6 class="text-uppercase mb-4 font-weight footer-titulo-f">Contato</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <!-- Div que Contém as Formas de Contato -->
                <div class="footer-lista-s-item">
                    <p>
                        <i class="fas fa-home mr-3"></i> São Paulo/SP, BR
                    </p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i> info@example.com
                    </p>
                    <p>
                        <i class="fas fa-phone mr-3"></i> + 55 11 9 9999 9999
                    </p>
                </div>
            </div>
        </div>
        <!-- Linha Horizontal no Final do Rodapé -->
        <hr class="body-linha-divisoria" style="height: 1px; margin: 12px 0px; color: rgb(242, 242, 242);">
        <!-- Div que Contém o "Copyrigth" e os Links das Redes Sociais -->
        <div class="row">
            <!-- Div com o "Copyrigth" -->
            <div class="footer-copyright text-center text-black-50 col-7">
                <blockquote class="blockquote text-center">
                    <p class="direitos-reservados">Empresa 2020 todos os direitos reservados</p>
                </blockquote>
            </div>
            <!-- Div que Contém os Links das Redes Sociais -->
            <div class="col-md-5 col-lg-4 ml-lg-0">
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <!-- Facebook -->
                        <li class="footer-lista-f-item">
                            <a href="http://www.facebook.com">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                        </li>
                        <!-- Twitter -->
                        <li class="footer-lista-f-item">
                            <a href="http://www.twitter.com">
                                <i class="fab fa-twitter-square"></i>
                            </a>
                        </li>
                        <!-- Linkedin -->
                        <li class="footer-lista-f-item">
                            <a href="http://www.linkedin.com">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                        <!-- Google Plus -->
                        <li class="footer-lista-f-item">
                            <a href="https://aboutme.google.com/">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</footer>