<!-- Jumbotron, Barra de Navegação, Frase Banner, Imagem Banner e Botão -->
<header>
    <div id="barra" class="container-fluid">
        <div class="row">
            <div class="offset-1 col-5">
                <!-- Icone (Margem Esquerda) -->
                <a class="navbar-brand" href="../" alt="home">
                    <img src="../images/logo.png" alt="logo" id="logo-teste">
                </a>
            </div>

            <div class="col-6">
                <!-- Tag que Engloba Toda a Barra de Navegação -->
                <nav class="navbar navbar-expand navbar-fixed-top">
                    <!-- Barra de Navegação -->
                    <div class="navbar-collapse">
                        <!-- (Margem Direita (Menu Dropdown), Login - Aluno, Professor)  -->
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" alt="avatar">
                                    <div id="avatar">
                                        <img src="/images/<%= usuario.imagem %>">
                                    </div>    
                                </a>
                                <div class="dropdown-menu" id="navDrop">
                                    <a class="dropdown-item" href="" data-toggle="modal" data-target="#modal-alterar-imagem"> Alterar Imagem </a>
                                    <a class="dropdown-item" href="" data-toggle="modal" data-target="#modal-alterar-nome"> Alterar Nome </a>
                                    <a class="dropdown-item" href="" data-toggle="modal" data-target="#modal-alterar-email"> Alterar E-mail </a>
                                    <a class="dropdown-item" href="" data-toggle="modal" data-target="#modal-alterar-senha"> Alterar Senha </a>
                                    <a id="logout" class="dropdown-item" href="../" alt="login-professor"> Sair </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            
        </div>
    </div>
</header>

<section>
    <div class="modal fade" id="modal-alterar-imagem" tabindex="-1" role="dialog" aria-labelledby="modal-adicionar-classe-titulo" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-adicionar-classe-titulo"> Alterar Imagem </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">        
                    <div class="row justify-content-center">
                        <div class="col-12"> 
                            <form id="formAlterarImagem" action="/aluno/alterarImagem" method="POST" enctype="multipart/form-data">
                                <div class="form-group row">
                                    <div class="col-12">
                                        <!--Arquivo-->
                                        <div class="form-row justify-content-center">
                                            <div class="custom-file col-10">
                                                <input id="alterarImagem" type="file" class="custom-file-input" accept="txt" id="validatedCustomFile"
                                                    name="img">
                                                <label class="custom-file-label botaoArquivo" for="validatedCustomFile" id="file-label">Escolher
                                                    arquivo</label>
                                                <div class="invalid-feedback">Arquivo inválido</div>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-8 text-center mt-3">
                                                <p id="feedbackAlterarImagem" class="feedback"> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="botao-fechar" data-dismiss="modal"> Fechar </button>
                                    <button type="submit" class="botao-enviar"> Alterar </button>
                                </div>
                            </form>
                        </div>
                    </div>            
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="modal fade" id="modal-alterar-nome" tabindex="-1" role="dialog" aria-labelledby="modal-adicionar-classe-titulo" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-adicionar-classe-titulo"> Alterar Nome </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">        
                    <div class="row justify-content-center">
                        <div class="col-lg-8"> 
                            <form id="formAlterarNome" action="/aluno/alterarNome" method="POST">
                                <div class="form-group row">
                                    <label class="col-12 col-form-label">Digite um novo nome:</label>
                                    <div class="col-12">
                                        <input id="alterarNome" type="text" class="form-control cursorText" value="<%= usuario.name %>" name="nome">
                                    </div>
                                </div>
                                <div class="col-12 text-center mt-3">
                                    <p id="feedbackAlterarNome" class="feedback"> </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="botao-fechar" data-dismiss="modal"> Fechar </button>
                                    <button type="submit" class="botao-enviar"> Alterar </button>
                                </div>
                            </form>
                        </div>
                    </div>            
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="modal fade" id="modal-alterar-email" tabindex="-1" role="dialog" aria-labelledby="modal-adicionar-classe-titulo" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-adicionar-classe-titulo"> Alterar e-mail </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">        
                    <div class="row justify-content-center">
                        <div class="col-lg-8"> 
                            <form id="formAlterarEmail" action="/aluno/alterarEmail" method="POST">
                                <div class="form-group row">
                                    <label class="col-12 col-form-label">Digite um novo e-mail:</label>
                                    <div class="col-12">
                                        <input id="alterarEmail" type="text" class="form-control cursorText" value="<%= usuario.email %>" name="email">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-form-label">Digite sua senha:</label>
                                    <div class="col-12">
                                        <input id="alterarEmailSenha" type="password" class="form-control cursorText" name="senhaEmail">
                                    </div>
                                </div>
                                <div class="col-12 text-center mt-3">
                                    <p id="feedbackAlterarEmail" class="feedback"> </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="botao-fechar" data-dismiss="modal"> Fechar </button>
                                    <button type="submit" class="botao-enviar"> Alterar </button>
                                </div>
                            </form>
                        </div>
                    </div>            
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="modal fade" id="modal-alterar-senha" tabindex="-1" role="dialog" aria-labelledby="modal-adicionar-classe-titulo" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-adicionar-classe-titulo"> Alterar Senha </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">        
                    <div class="row justify-content-center">
                        <div class="col-lg-8"> 
                            <form id="formAlterarSenha" action="/aluno/alterarSenha" method="POST">
                                <div class="form-group row">
                                    <label class="col-12 col-form-label">Digite sua senha antiga:</label>
                                    <div class="col-12">
                                        <input id="alterarSenhaAntiga" type="password" class="form-control cursorText" name="senhaAntiga">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-form-label">Digite sua nova senha:</label>
                                    <div class="col-12">
                                        <input id="alterarSenhaNova" type="password" class="form-control cursorText" name="senhaNova">
                                    </div>
                                </div>
                                <div class="col-12 text-center mt-3">
                                    <p id="feedbackAlterarSenha" class="feedback"> </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="botao-fechar" data-dismiss="modal"> Fechar </button>
                                    <button type="submit" class="botao-enviar"> Alterar </button>
                                </div>
                            </form>
                        </div>
                    </div>            
                </div>
            </div>
        </div>
    </div>
</section>

<section>

    <!-- Modal Feedback Alterações de dados do usuário -->
    <div class="modal fade" id="modal-feedback-alterar-dados" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-adicionar-classe-titulo"> Aviso </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">        
                    <div class="row justify-content-center">
                        <div class="col-lg-8"> 
                            <div class="row">
                                <div class="col-12">
                                    <input id="feedbackAlterarDados" type="hidden" value="<%= feedbackAlterarDados %>">
                                    <p id="mensagemFeedbackAlterarDados" class="texto"> </p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="botao-fechar" data-dismiss="modal"> Fechar </button>
                            </div>
                        </div>
                    </div>            
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/javascripts/dist/inputFileFoto.js"></script>