<!-- Coluna Esquerda (Links e Professor) -->
<div class="col-3 sombra p-5 mb-5">
    <!-- Foto do Professor e Detalhes -->
    <div class="row">
        <div class="col-12 text-center">
            <img class="imagem-professor" src="/images/professor.ico">
            <p class="texto"> Marco Antonio, Matemática </p>
        </div>
    </div>
    <!-- Links -->
    <div class="row">
        <div class="offset-3 col-9">
            <nav id="menu-left">
                <ul class="nav flex-column">
                    <!-- Recados -->
                    <li class="nav-item">
                        <a class="texto-link nav-link" href="/professor/recados">
                            <img src="/images/recados.png" alt="icone recados" class="imagens-classe"> Recados
                        </a>
                    </li>
                    <!-- Dropdown: presença, tarefas, notas, diário de sala-->
                    <li class="nav-item dropdown">
                        <a class="texto-link nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true"
                            aria-expanded="false">
                            <img src="/images/notas.png" alt="icone classes" class="imagens-classe"> Postar
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/professor/postar-presenca">Postar presença</a>
                            <a class="dropdown-item" href="/professor/postar-tarefa">Postar tarefa</a>
                            <a class="dropdown-item" href="/professor/postar-nota">Postar nota</a>
                        </div>
                    </li>
                    <!-- Dropdown: criar sala e cadastrar aluno -->
                    <li class="nav-item dropdown">
                        <a class="texto-link nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true"
                            aria-expanded="false">
                            <img src="/images/criar-icon.png" alt="icone criação" class="imagens-classe"> Gerenciar
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/professor/gerenciar-aluno">Gerenciar alunos</a>
                        </div>
                    </li>
                    <!-- Salas -->
                    <li class="nav-item">
                        <a class="texto-link nav-link" href="/professor/inicio">
                            <img src="/images/salas.png" alt="icone recados" class="imagens-classe"> Classes
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>