<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta chartset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- css externos -->
    <link href="/stylesheets/dist/main.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/src/professor.css">
    <!-- links de fontes google (Baloo Da 2, Pangolin e Poppins)-->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Da+2|Pangolin|Poppins&display=swap" rel="stylesheet">
    <!--link meterial icons + fontawesome-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.css">
</head>

<body>
    <header>
        <div class="container">
            <div id="top" class="row">
                <!-- Tag que Engloba Toda a Barra de Navegação -->
                <nav class="navbar navbar-expand-lg col-12 navbar-fixed-top">
                    <!-- Icone (Margem Esquerda) -->
                    <a class="navbar-brand" href="#" alt="home">
                        <img src="#" alt="logo" id="logo-teste" class="ml-4">
                    </a>
                    <!-- Barra de Navegação -->
                    <div class="navbar-collapse">
                        <!-- (Margem Esquerda, Sobre Nós, Contato e Cadastro)  -->
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link especial" href="#sobre-nos" alt="Sobre nós">Sobre nós</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#contato" alt="Contato">Contato</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#cadastro" alt="Cadastro">Cadastro</a>
                            </li>
                        </ul>
                        <!-- (Margem Direita (Menu Dropdown), Login - Aluno, Professor)  -->
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" alt="Login">
                                    Login</a>
                                <div class="dropdown-menu" id="navDrop">
                                    <a class="dropdown-item" href="#" alt="login-aluno">Aluno</a>
                                    <a class="dropdown-item" href="#" alt="login-professor">Professor</a>
                                    <a class="dropdown-item" href="#" alt="login-professor">Sair</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <hr>
    </header>