<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta chartset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Icone da página -->
    <link rel="sortcut icon" href="images/icone.png" type="image/x-icon" />
    <title> Educatella </title> 
    <!-- css externos -->
    <link href="stylesheets/dist/bootstrap.css" rel="stylesheet">
    <link href="stylesheets/dist/header.css" rel="stylesheet">
    <link href="stylesheets/dist/classe.css" rel="stylesheet">
    <!-- links de fontes google (Baloo Da 2, Pangolin e Poppins)-->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Da+2|Pangolin|Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Header da Página -->
    <%- include('./partials/header') %>

    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="offset-1 col-11 mb-5">
                    <a href="/aluno"> <p class="link-voltar">  < Minhas Classes  </p> </a>
                </div>
            </div>
            <div class="row">
                <div class="offset-1 col-11 mb-5">
                   <a href="situacao" class="botao"> Visualizar Faltas e Notas </a>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12 text-center">
                   <h2 class="titulo-geral"> Suas Tarefas </h2>
                </div>
            </div>
        </div>
        <div class="container shadow-sm p-0 mb-5">
            <div class="row">
                <div class="col-3 p-2 informacao">
                    <div class="row">
                        <div class="col-12 text-center">
                            <p class="texto-detalhes"> Geografia </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <p class="texto-detalhes"> 10/05 </p>
                        </div>
                    </div>
                </div>
                <div class="col-7">
                    <div class="row">
                        <div class="col-12 text-center">
                            <p class="titulo"> Pesquisa Sobre a Guerra Fria </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <a href="atividade" class="botao"> Ver Atividade </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container shadow-sm p-0 mb-5">
            <div class="row">
                <div class="col-3 p-2 informacao">
                    <div class="row">
                        <div class="col-12 text-center">
                            <p class="texto-detalhes"> Matemática </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <p class="texto-detalhes"> 17/05 </p>
                        </div>
                    </div>
                </div>
                <div class="col-7">
                    <div class="row">
                        <div class="col-12 text-center">
                            <p class="titulo"> Exercícios Geometria </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <a href="atividade" class="botao"> Ver Atividade </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container shadow-sm p-0 mb-5">
            <div class="row">
                <div class="col-3 p-2 informacao">
                    <div class="row">
                        <div class="col-12 text-center">
                            <p class="texto-detalhes"> Redação </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <p class="texto-detalhes"> 24/05 </p>
                        </div>
                    </div>
                </div>
                <div class="col-7">
                    <div class="row">
                        <div class="col-12 text-center">
                            <p class="titulo"> Redação Biopirataria </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <a href="atividade" class="botao"> Ver Atividade </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Importando Jquery -->
    <script type="text/javascript" src="/vendor/jquery.min.js"></script>
    <!-- Importando Bootstrap JS -->
    <script type="text/javascript" src="/vendor/bootstrap.bundle.min.js"></script>
</body>