<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta chartset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Icone da página -->
        <link rel="sortcut icon" href="/images/icone.png" type="image/x-icon" />
        <title> Educatella </title> 
        <!-- css externos -->
        <link href="/vendor/bootstrap.min.css" rel="stylesheet">
        <link href="/stylesheets/dist/footer.css" rel="stylesheet">
        <link href="/stylesheets/dist/login.css" rel="stylesheet">
        <!-- links de fontes google (Baloo Da 2, Pangolin e Poppins)-->
        <link href="https://fonts.googleapis.com/css?family=Baloo+Da+2|Pangolin|Poppins&display=swap" rel="stylesheet">
    </head>

    <body>

        <!-- Tag que Engloba Toda a Barra de Navegação -->
        <nav class="navbar navbar-expand-lg col-12 navbar-fixed-top">

            <div class="navbar-collapse collapse justify-content-center">

                <a class="navbar-brand" alt="home">
                    <img src="/images/logo.png" alt="logo">
                </a>

            </div>
            <!-- Icone (Margem Esquerda) -->
            
        </nav>

        <main>

          <h1 class="text-center titulo">Entrar no Educatella</h1>

          <div class="container mt-5">
  
              <div class="row justify-content-center">

                <div class="col-lg-5">
    
                    <div class="form-group row">
    
                      <div class="col-md-12 text-center">
                        
                        <a href="/aluno/inicio">
                            
                            <button type="button" class="btn w-100 botao">Como Aluno</button>
                            
                        </a>
    
                      </div>
    
                    </div>

                </div>

                <div class="col-lg-5">
    
                    <div class="form-group row">
    
                      <div class="col-md-12 text-center">
                        
                        <a href="/professor/inicio">
                            
                            <button type="button" class="btn w-100 botao">Como Professor</button>
                            
                        </a>
    
                      </div>
    
                    </div>

                </div>

              </div>
  
          </div>

        </main>

    </body>

    <!-- Footer da Página -->
    <%- include('./partials/footer') %>
    <!-- Importando Jquery -->
    <script type="text/javascript" src="/vendor/jquery.min.js"></script>
    <!-- Importando Bootstrap JS -->
    <script type="text/javascript" src="/vendor/bootstrap.bundle.min.js"></script>

</html>