<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta chartset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Icone da página -->
    <link rel="sortcut icon" href="images/icone.png" type="image/x-icon" />
    <title> Educatella </title> 
    <!-- css externos -->
    <link href="/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/dist/footer.css" rel="stylesheet">
    <link href="/stylesheets/dist/index.css" rel="stylesheet">
    <!-- links de fontes google (Baloo Da 2, Pangolin e Poppins)-->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Da+2|Pangolin|Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Jumbotron, Barra de Navegação, Frase Banner, Imagem Banner e Botão -->
    <header>
        <!-- Jumbotron -->
        <div class="jumbotron jumbotron-fluid d-flex justify-content-end shadow-sm">
            <div class="container">
                <div id="topo" class="row">
                    <!-- Tag que Engloba Toda a Barra de Navegação -->
                    <nav class="navbar navbar-expand-lg col-12 navbar-fixed-top">
                        <!-- Icone (Margem Esquerda) -->
                        <a class="navbar-brand" alt="home">
                            <img src="images/logo.png" alt="logo">
                        </a>
                        <!-- Barra de Navegação -->
                        <div class="navbar-collapse">
                            <!-- (Margem Esquerda, Sobre Nós, Contato e Cadastro)  -->
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="#sobre-nos" alt="Sobre nós">Sobre nós</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#contato" alt="Contato">Contato</a>
                                </li>
                            </ul>
                            <!-- (Margem Direita (Menu Dropdown)-->
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="/login" alt="Login">Login</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" alt="Cadastro">Cadastro
                                    </a>
                                    <div class="dropdown-menu" id="navDrop">
                                        <a class="dropdown-item" href="/cadastro/aluno" alt="cadastro-aluno">Aluno</a>
                                        <a class="dropdown-item" href="/cadastro/professor" alt="cadastro-professor">Professor</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <!-- Tag que Engloba Todo o Banner -->
                <div class="row">
                    <!-- Div que Contém o Texto do Banner -->
                    <div class="coluna-texto-principal col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <span> 
                            Aprendemos Melhor Juntos! <br> <br>
                            Gerencie Suas Salas. <br>
                            Envolva Seus Alunos. <br> <br>
                            Seguro. Simples. Livre.
                        </span>
                         <!--Botão "Conheça Nossa História" Logo Após o Banner-->
                         <div>
                            <a class="button-header">Conheça Nossa História</a>
                        </div>
                    </div>
                    <!-- Div que Contém a Imagem do Banner -->
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <img id="imagem-principal" class="rounded float-right" src="images/principal.png" alt="icone">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main -->
    <main>
        <!-- Primeira Section: Textos e Imagens -->
        <section>
            <!-- Article "Sobre Nós" -->
            <article class="shadow-sm p-3 mb-5 bg-white rounded">
                <div class="container">
                    <div class="row">
                        <!-- Div que Contém Título "Sobre Nós" e seu texto -->
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text">
                            <h2 id="sobre-nos" class="titulo">Sobre nós</h2>
                            <p class="body-text-p"> 
                                Somos uma empresa totalmente focada em trazer soluções para a educação mundial, nossa primeira preocupação
                                é você, nosso cliente, não perca mais tempo e venha fazer parte da família Educatella! Aprenda, Desenvolva,
                                e o mais importante, se envolva! 
                            </p>
                            <div class="div-botao-section">
                                <a href="#" class="botao">Leia mais</a>
                            </div>
                        </div>
                        <!-- Div que Contém a Imagem do Conteúdo "Sobre Nós" -->
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <img src="images/informacao.png" class="rounded float-right img" alt="icone">
                        </div>
                    </div>
                </div>
            </article>
            <!-- Article "Para Nossos Professores" -->
            <article class="shadow-sm p-3 mb-5 bg-white rounded">
                <div class="container">
                    <div class="row">
                        <!-- Div que Contém a Imagem do Conteúdo "Para Nossos Professores" -->
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text">
                            <img src="images/professor.png" class="rounded float-left img" alt="icone">
                        </div>
                        <!-- Div que Contém Título "Para Nossos Professores" e seu texto -->
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <h2 class="titulo">Para nossos professores</h2>
                            <p class="body-text-p"> 
                                O Educatella propõe diversas ferramentas para você professor desenvolver o máximo das suas habilidades,
                                com a nossa plataforma, você é capaz de desenvolver o máximo de seus alunos, desenvolva atividades, aplique datas,
                                controle notas e faltas, receba e envie arquivos a seus alunos, envolva-os!
                            </p>
                            <div class="div-botao-section">
                                <a href="#" class="botao">Leia mais</a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <!-- Article "Para Nossos Alunos" -->
            <article class="shadow-sm p-3 mb-5 bg-white rounded">
                <div class="container">
                    <div class="row">
                        <!-- Div que Contém Título "Para Nossos Alunos" e seu texto -->
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text">
                            <h2 class="titulo">Para nossos alunos</h2>
                            <p class="body-text-p"> 
                                Nossa aplicação desenvolve várias formas de desenvolvimento para os alunos, tenha a melhor relação possível
                                com seu professor, visualiza a qualquer momento suas notas e faltas, tenha controle sobre as suas atividades,
                                envie e recebe qualquer arquivo do seu professor, se envolva com suas classes!
                            </p>
                            <div class="div-botao-section">
                                <a href="#" class="botao">Leia mais</a>
                            </div>
                        </div>
                        <!-- Div que Contém a Imagem do Conteúdo "Para Nossos Alunos" -->
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <img src="images/aluno.png" class="rounded float-right img" alt="icone">
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <!-- Footer da Página -->
        <%- include('./partials/footer') %>
        <!-- Botão Com Efeito Para Voltar Ao Topo Quando Clicado -->
        <a href="#topo">
            <div id="botaotop">
                <i class="setaTopo">^</i>
            </div>
        </a>
    </main>
    <!-- Importando Jquery -->
    <script type="text/javascript" src="/vendor/jquery.min.js"></script>
    <!-- Importando Bootstrap JS -->
    <script type="text/javascript" src="/vendor/bootstrap.bundle.min.js"></script>
</body>
</html>