<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta chartset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Icone da página -->
    <link rel="sortcut icon" href="images/icone.png" type="image/x-icon" />
    <title> Educatella </title> 
    <!-- css externos -->
    <link href="/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/dist/footer.css" rel="stylesheet">
    <link href="/stylesheets/dist/index.css" rel="stylesheet">
    <!-- links de fontes google (Baloo Da 2, Pangolin e Poppins)-->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Da+2|Pangolin|Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Jumbotron, Barra de Navegação, Frase Banner, Imagem Banner e Botão -->
    <header>
        <!-- Jumbotron -->
        <div class="jumbotron jumbotron-fluid d-flex justify-content-end shadow-sm">
            <div class="container">
                <div id="topo" class="pt-3 row">
                    <!-- Tag que Engloba Toda a Barra de Navegação -->
                    <nav class="navbar navbar-expand-lg col-12 navbar-fixed-top">
                        <!-- Icone (Margem Esquerda) -->
                      
                        <!-- Barra de Navegação -->
                        <div class="navbar-collapse  ">
                            <div class=" expand-lg text-center">
                                <a class="navbar-brand align-items-center " alt="home">
                                <img id="logo" src="images/logoIndexEscrito.png" alt="logo">
                                </a>
                             </div>
                            <!-- (Margem Esquerda, Sobre Nós, Contato e Cadastro)  -->
                            <ul class="navbar-nav mr-auto align-items-center">
                                <li class="nav-item">
                                    <a class="nav-link" href="#sobre-nos" alt="Sobre nós">Sobre nós</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#contato" alt="Contato">Contato</a>
                                </li>
                            </ul>
                            <!-- (Margem Direita (Menu Dropdown)-->
                            <ul class="navbar-nav ml-auto align-items-center">
                                <li class="nav-item">
                                    <a class="nav-link" href="/login" alt="Login">Login</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" alt="Cadastro">Cadastro
                                    </a>
                                    <div class="dropdown-menu" id="navDrop">
                                        <a class="dropdown-item" href="/cadastro/aluno" alt="cadastro-aluno">Aluno</a>
                                        <a class="dropdown-item" href="/cadastro/professor" alt="cadastro-professor">Professor</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <!-- Tag que Engloba Todo o Banner -->
                <div class="row">
                    <!-- Div que Contém o Texto do Banner -->
                    <div class="coluna-texto-principal col-lg-6 col-md-6 col-sm-12 col-xs-12 expand-lg  ">
                      
                        <span> 
                            Aprendemos Melhor Juntos! <br> <br>
                            Gerencie Suas Salas. <br>
                            Envolva Seus Alunos. <br> <br>
                            Seguro. Simples. Livre.
                        </span>
                         <!--Botão "Conheça Nossa História" Logo Após o Banner-->
                         <div >
                            <a class="button-header" href="#sobre-nos">Conheça Nossa História</a>
                        </div>
                    </div>
                    <!-- Div que Contém a Imagem do Banner -->
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <img id="imagem-principal" class="rounded float-right" src="images/principal.png" alt="icone">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main -->
    <main>
        <!-- Primeira Section: Textos e Imagens -->
        <section>
            <!-- Article "Sobre Nós" -->
            <article class="shadow-sm p-3 mb-5 bg-white rounded">
                <div class="container">
                    <div class="row">
                        <!-- Div que Contém Título "Sobre Nós" e seu texto -->
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text">
                            <h2 id="sobre-nos" class="titulo">Sobre nós</h2>
                            <p class="body-text-p"> 
                                O Educatella é focado exclusivamente em trazer soluções para a educação digital. 
                                Nossa primeira preocupação é garantir que você tenha acesso a um sistema educacional de excelência! 
                                Não perca mais tempo e venha fazer parte da nossa família! 
                                Aprenda, desenvolva,
                                e, o mais importante, SE ENVOLVA! 
                            </p>
                            <div class="div-botao-section">
                                <a href="#" class="botao" title="Settings" data-toggle="modal"
                                data-target="#botaoA">Leia mais</a>
                            </div>
                        </div>
                        <!-- Div que Contém a Imagem do Conteúdo "Sobre Nós" -->
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <img src="images/informacao.png" class="rounded float-right img" alt="icone">
                        </div>
                    </div>
                </div>
            </article>
            <!-- Article "Para Nossos Professores" -->
            <article class="shadow-sm p-3 mb-5 bg-white rounded">
                <div class="container">
                    <div class="row">
                        <!-- Div que Contém a Imagem do Conteúdo "Para Nossos Professores" -->
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text">
                            <img src="images/professor.png" class="rounded float-left img" alt="icone">
                        </div>
                        <!-- Div que Contém Título "Para Nossos Professores" e seu texto -->
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <h2 class="titulo">Para nossos professores</h2>
                            <p class="body-text-p"> 
                                O Educatella dispões de diversas ferramentas para que vocês possam praticar suas técnicas e habilidades
                                em um só lugar. Simplifique a comunicação e melhore o envolvimento dos alunos para além da sala de aula.
                                Todo mundo se lembra do professor que fez a diferença em sua vida. Com ferramentas de comunicação como 
                                Postagens e Mensagens, o Educatella ajuda você a ser esse professor para seus alunos.
                            </p>
                            <div class="div-botao-section">
                                <a href="#" class="botao" title="Settings" data-toggle="modal"
                                data-target="#botaoB">Leia mais</a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <!-- Article "Para Nossos Alunos" -->
            <article class="shadow-sm p-3 mb-5 bg-white rounded">
                <div class="container">
                    <div class="row">
                        <!-- Div que Contém Título "Para Nossos Alunos" e seu texto -->
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text">
                            <h2 class="titulo">Para nossos alunos</h2>
                            <p class="body-text-p">
                                Aumente sua confiança, encontre sua voz e experimente o que significa ser um aluno digital. 
                                Capacite seu aprendizado e faça parte de uma comunidade vibrante em sala de aula.
                                Nosso sistema permite que vocês desenvolvam suas habilidades de diversas maneiras; para isso, contamos com um sistema
                                diverso e inclusivo a fim de alcançar o maior número de estudantes. 
                                Buscamos contruir relações horizontais entre aluno-professor e, 
                                também, entre os alunos. Venha fazer parte dessa história!
                            </p>
                            <div class="div-botao-section">
                                <a href="#" class="botao" title="Settings" data-toggle="modal"
                                data-target="#botaoC">Leia mais</a>
                            </div>
                        </div>
                        <!-- Div que Contém a Imagem do Conteúdo "Para Nossos Alunos" -->
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <img src="images/aluno.png" class="rounded float-right img" alt="icone">
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <!-- Footer da Página -->
        <%- include('./partials/footer') %>
        <!-- Botão Com Efeito Para Voltar Ao Topo Quando Clicado -->
        <a href="#topo">
            <div id="botaotop">
                <i class="setaTopo">^</i>
            </div>
        </a>
    </main>

    <!-- Modal BotãoA  -->
        <div id="botaoA" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
    
                    <!--Header - titulo-->
                    <div class="modal-header">
                        <h4 class="modal-title">Sobre nós</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                           <strong> <bold>&times;</bold> </strong>
                        </button>
                    </div>
                     <!--Body - texto -->
                     <div class="modal-body">
                        <p class="modal-text">
                            O conhecimento a um clique de distância.<br>
                            Um bom lugar de ensino com certeza é onde o aluno se sente bem. Mas, muito mais do que isso, 
                            é uma comunidade flexível, atenta às diferenças individuais, que visa formar cidadãos 
                            competentes e autônomos, cientes de sua função na sociedade democrática. 
                            Uma boa escola cumpre o que promete ser: basicamente, o lugar aonde o aluno vai para 
                            estudar e aprender. Buscamos oferecer oportunidades de aprendizagem a crianças e 
                            adolescentes, em um projeto pedagógico realmente moderno. Ativos no processo de 
                            aquisição do conhecimento, nossos alunos terão condições de se converter em cidadãos 
                            capazes de se realizar em um mundo marcado pela revolução tecnológica, 
                            pela rapidez das mudanças e pela velocidade da informação.  
                        </p>
                        <p class="modal-text">
                            Agende um horário para conversar e tirar dúvidas!
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal BotãoB  -->
        <div id="botaoB" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
    
                    <!--Header - titulo-->
                    <div class="modal-header">
                        <h4 class="modal-title">Para nossos professores</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                           <strong> <bold>&times;</bold> </strong>
                        </button>
                    </div>
                     <!--Body - texto -->
                     <div class="modal-body">
                        <p class="modal-text">
                            Envie mensagens, compartilhe materiais de classe, tarefas e envie notas. Torne o aprendizado acessível em 
                            qualquer lugar. Economize tempo reunindo todas as ferramentas da sala de aula em um só lugar.
                        </p>
                        <p class="modal-text">
                            Agende um horário para conversar e tirar dúvidas!
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal BotãoC  -->
        <div id="botaoC" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
    
                    <!--Header - titulo-->
                    <div class="modal-header">
                        <h4 class="modal-title">Para nossos alunos</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                           <strong> <bold>&times;</bold> </strong>
                        </button>
                    </div>
                     <!--Body - texto -->
                     <div class="modal-body">
                        <p class="modal-text">
                            Aprenda de onde estiver, com o Educatella o conhecimento está sempre ao seu lado.
                            Esteja sempre atualizado e cresca junto com seus amigos de classe.
                            A gente organiza tudo para você!
                        </p>
                        <p class="modal-text">
                            Agende um horário para conversar e tirar dúvidas!
                        </p>
                    </div>
                </div>
            </div>
        </div>


    <!-- Importando Jquery -->
    <script type="text/javascript" src="/vendor/jquery.min.js"></script>
    <!-- Importando Bootstrap JS -->
    <script type="text/javascript" src="/vendor/bootstrap.bundle.min.js"></script>
</body>
</html>