<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta chartset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- css externos -->
    <link href="stylesheets/dist/main.css" rel="stylesheet">
    <!-- links de fontes google -->
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
  </head>

  <body>
    
    <!-- Barra de navegação -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="./index.ejs">Logo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="./index.ejs">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Cadastre-se
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#cadastro">Como estudante</a>
              <a class="dropdown-item" href="#cadastro">Como professor</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#cadastro">Login</a>
          </li>
        </ul>
      </div>
    </nav>
    
    <!-- Primeira Sessão, contém a descrição do sistema e uma imagem de exibição -->

    <section id="fundo1">
      <div class="container-fluid">
        <div class="row">
          <div id="colunaImagem1" class="col-xs-5 col-sm-7 col-md-6 texto">
            <!-- Descrição do sistema -->
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero explicabo natus nesciunt tenetur obcaecati modi vitae iure! Laboriosam quisquam officia commodi? Sunt itaque excepturi quidem voluptas modi. Omnis, obcaecati pariatur.
          </div>
          <!-- Divisória que contém a imagem de exibição  -->
          <div id="colunaImagem2" class="col-xs-7 col-sm-5 col-md-6">
            <img id="imagemIndex" src="images/educacao-index.png">
          </div>
        </div>
      </div>
    </section>

    <section>
      <div id="grupoIcones" class="container-fluid">
        <div class="row">
          <div class="col d-flex">
            <!-- Divisória que contém os três ícones e suas descrições -->
            <div class="container-fluid">
              
              <div class="row justify-content-around">
                <div class="col-sm-12 col-md-4">
                  <!-- ícone do professor e sua descrição -->
                  <div class="textoIcone d-grid">
                    <img class="iconesIndex justify-self-center" src="images/professor.png">
                    <p class="descricao"> APRENDA EM TEMPO REAL </p>
                  </div>
                </div>

                <div class="col-sm-12 col-md-4">
                  <!-- ícone do gráfico e sua descrição -->
                  <div class="textoIcone d-grid">
                    <img class="iconesIndex justify-self-center" src="images/grafico.png">
                      <p class="descricao"> AUMENTE SUA PRODUTIVIDADE </p>
                  </div>
                </div>

                <div class="col-sm-12 col-md-4">
                  <!-- ícone do calendário e sua descrição -->
                  <div class="textoIcone d-grid">
                    <img class="iconesIndex justify-self-center" src="images/calendario.png">
                      <p class="descricao"> ORGANIZE SEU TEMPO </p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Segunda Sessão, que contém uma imagem e os campos de login e senha -->

    <section>
      <div id="cadastro" class="container container-login100">
        <div class="wrap-login100">
          <!-- Imagem de exibição do cadastro -->
          <div class="login100-pic js-tilt">
            <img src="images/login.png">
          </div>
          <!-- Formulário de login -->
          <form class="login100-form validate-form">
            <span class="texto login100-form-title">
              Entre em sua conta!
            </span>
            <!-- Campo de e-mail -->
            <div class="wrap-input100 validate-input">
              <input class="input100" type="text" name="email" placeholder="E-mail">
            </div>
            <!-- Campo de senha -->
            <div class="wrap-input100 validate-input" data-validate="Password is required">
              <input class="input100" type="password" name="pass" placeholder="Senha">
            </div>
            <!-- Botão de enviar -->
            <div class="container-login100-form-btn">
              <button class="login100-form-btn">
                Login
              </button>
            </div>
            <!-- Link para criar conta -->
            <div class="text-center p-t-136">
              <a class="txt2" href="#">
                Crie sua conta
              </a>
            </div>
          </form>
        </div>
      </div>
    </section>

    <!-- Rodapé do sistema -->

    <footer>
      <div id="rodape" class="container-fluid">
        <div class="row">
          <!-- Descrição Copyright -->
          <div class="textoRodape texto col-xs-6 col-sm-6 col-md-6">
            <br> Copyright ©2020 All rights reserved
          </div>
          <!-- Campo para Newsletter -->
          <div class="textoRodape texto col-xs-3 col-sm-10 col-md-3">
            Newsletter <br>
            <div class="wrap-input100">
              <input class="input100" type="text" name="email" placeholder="E-mail">
            </div>
          </div>
        </div>
      </div>
    </footer>

  </body>
  <script type="text/javascript" src="/vendor/jquery.min.js"></script>
  <script type="text/javascript" src="/vendor/bootstrap.bundle.min.js"></script>
</html>
