<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta chartset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Icone da página -->
    <link rel="sortcut icon" href="images/icone.png" type="image/x-icon" />
    <title> Educatella </title> 
    <!-- css externos -->
    <link href="/stylesheets/dist/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/dist/not-found.css" rel="stylesheet">
    <link href="/stylesheets/dist/footer.css" rel="stylesheet">
    <!-- links de fontes google (Baloo Da 2, Pangolin e Poppins)-->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Da+2|Pangolin|Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <main>
        <div class="corpo404 container-fluid">
            <div class="row">
                <div class="coluna404 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <p class="texto404"> Opa! Você não tem autorização para fazer isso, recomendamos voltar à <a href="/"> Página Inicial </a> </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <img id="imagem404" src="/images/401.png">
                </div>
            </div>
        </div>
    </main>
    
    <!-- Footer da Página -->
    <%- include('../partials/footer') %>
</body>