<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta chartset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Icone da página -->
    <link rel="sortcut icon" href="/images/icone.png" type="image/x-icon" />
    <title> Educatella </title> 
    <!-- css externos -->
    <link href="/stylesheets/dist/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/dist/header.css" rel="stylesheet">
    <link href="/stylesheets/dist/salasAlunos.css" rel="stylesheet">
    <!-- links de fontes google (Baloo Da 2, Pangolin e Poppins)-->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Da+2|Pangolin|Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Header da Página -->
    <%- include('../partials/header') %>
    <main>
        <div class="container-fluid">
            <div class="row mb-5">
                <!-- Recepção do aluno -->
                <div class="offset-1 col-11">
                   <h2 class="titulo"> Olá aluno! Essas são suas classes: </h2>
                </div>
            </div>
            <div class="row mb-5">
                <!-- Botão para pesquisar classes -->
                <div class="offset-1">
                    <a href="" class="botao"> Pesquisar Classe </a>
                </div>
                <div class="ml-3">
                    <a href="" class="botao"> Entrar em uma Classe </a>
                </div>
            </div>
        </div>
        <!-- Coluna de professores -->
        <div class="container-fluid">
            <div class="row p-3 mb-5">
                <!-- Foto e descrição do professor e botão para acessar a Classe -->
                <div class="offset-1 col-3 text-center">
                    <img class="imagem-professor" src="/images/professor.ico">
                    <p class="texto"> Marco Antonio, Matemática </p>
                    <a href="/aluno/recados" class="botao-pequeno mb-4"> Acessar Classe </a>
                </div>
                <!-- Foto e descrição do professor e botão para acessar a Classe -->
                <div class="offset-1 col-3 text-center">
                    <img class="imagem-professor" src="/images/professor.ico">
                    <p class="texto"> Paulo Rogério, Química </p>
                    <a href="/aluno/recados" class="botao-pequeno"> Acessar Classe </a>
                </div>
                <!-- Foto e descrição do professor e botão para acessar a Classe -->
                <div class="offset-1 col-3 text-center">
                    <img class="imagem-professor" src="/images/professor.ico">
                    <p class="texto"> Virgínia Souza, Geografia </p>
                    <a href="/aluno/recados" class="botao-pequeno"> Acessar Classe </a>
                </div>
            </div>
            <div class="row p-3 mb-5">
                <!-- Foto e descrição do professor e botão para acessar a Classe -->
                <div class="offset-1 col-3 text-center">
                    <img class="imagem-professor" src="/images/professor.ico">
                    <p class="texto"> Talita Souza, Programação </p>
                    <a href="/aluno/recados" class="botao-pequeno"> Acessar Classe </a>
                </div>
                <!-- Foto e descrição do professor e botão para acessar a Classe -->
                <div class="offset-1 col-3 text-center">
                    <img class="imagem-professor" src="/images/professor.ico">
                    <p class="texto"> Fábio Queiroz, Redação </p>
                    <a href="/aluno/recados" class="botao-pequeno"> Acessar Classe </a>
                </div>
                <!-- Foto e descrição do professor e botão para acessar a Classe -->
                <div class="offset-1 col-3 text-center">
                    <img class="imagem-professor" src="/images/professor.ico">
                    <p class="texto"> Ana Paula, Lógica </p>
                    <a href="/aluno/recados" class="botao-pequeno"> Acessar Classe </a>
                </div>
            </div>
        </div>
    </main>
    <!-- Importando Jquery -->
    <script type="text/javascript" src="/vendor/jquery.min.js"></script>
    <!-- Importando Bootstrap JS -->
    <script type="text/javascript" src="/vendor/bootstrap.bundle.min.js"></script>
</body>