<!-- Header da Página -->
<%- include('../partials/professor-head') %>


<main>

  <!-- Section engolba nav-left + Criar sala-->
  <section class="first-section">

    <div class="container criar-sala">
      <div class="row formulario-criar-sala">

        <!-- Nav left -->
        <%- include('../partials/professor-nav-left') %>

        <!--Formulário-->
        <div class="col-9 shadow-sm p-3 mb-5 bg-white rounded formulário-criar-sala">

          <!--Título-->
          <h3 class="form-criar-classe-titulo">Criar sala de aula</h3>

          <!-- Form Criar Sala -->
          <form id="form-criar-sala" method="GET" action="/professor/criar-sala">
            
            <!--Div - matéria e série-->
            <div class="form-row justify-content-center">

              <!--Matéria selector-->
              <div class="form-group col-md-4">
                <label for="inputMateria"></label>
                <select id="inputMateria" class="form-control">
                  <option selected>Matéria</option>
                  <option>Maquiavel</option>
                  <option>John Locke</option>
                </select>
              </div>

              <!--Série selector-->
              <div class="form-group col-md-4">
                <label for="inputSerie"></label>
                <select id="inputSerie" class="form-control">
                  <option selected>Série</option>
                  <option>1 col A</option>
                  <option>1 col B</option>
                  <option>2 col A</option>
                  <option>2 col B</option>
                  <option>3 col A</option>
                  <option>3 col B</option>
                </select>
              </div>
            </div>

            <!--DIV qtidade aluno e período-->
            <div class="form-row justify-content-center">

              <!--Qtidade aluno selector-->
              <div class="form-group col-md-4">
                <label for="inputQuantidade"></label>
                <select id="inputQuantidade" class="form-control">
                  <option selected>Quantidade de alunos</option>
                  <option>0 a 10</option>
                  <option>11 a 20</option>
                  <option>21 a 30</option>
                  <option>31 a 40</option>
                </select>
              </div>

              <!--Período selector-->
              <div class="form-group col-md-4">
                <label for="inputPeriodo"></label>
                <select id="inputPeriodo" class="form-control">
                  <option selected>Período</option>
                  <option>Manhã</option>
                  <option>Tarde</option>
                  <option>Noite</option>
                </select>
              </div>
            </div>

            <!--DIV Senha e button-->
            <div <div class="form-row">
              <div class="form-group col-md-4">
                <label for="inputPasswordCriarSala"></label>
                <input type="password" class="form-control" id="inputPasswordCriarSala" placeholder="Digite sua senha" name="inpuntPasswordCriarSala">
              </div>
              <button type="submit" class="btn-criar-sala">Enviar</button>
            </div>
          </form>
        </div>

      </div>
    </div>

  </section>


  <!--Section engloba gerenciador de salas já criadas-->
  <section class="second-section">

    <div class="container gerenciar-sala">
      <div class="row gerenciar-sala">

        <div class="col-12 shadow-sm p-3 mb-5 bg-white rounded gerenciar-salas">

          <!--Título-->
          <h3 class="card-gereciar-sala-titulo">Gerenciar salas de aula</h3>

          <!-- Cards salas -->
          <div class="card-deck linhaA">

            <!--Card 1-->
            <div class="card">
              <!--Body-->
              <div class="card-body">
                <h5 class="card-title">1 col A - Maquiavel</h5>
                <hr>
                <p class="card-text">Alunos:</p>
                <p class="card-text">Período:</p>
                <p class="card-text">Conteúdo:</p>
              </div>
              <!--Button-->
              <div class="card-footer">
                <button type="submit" class="btn-alterar" data-toggle="modal" data-target="#editModal">Alterar</button>
                <button type="submit" class="btn-excluir"
                  onclick="return confirm('Deseja mesmo excluir a sala?')">Excluir</button>
              </div>
            </div>

            <!--Card 2-->
            <div class="card">
              <!--Body-->
              <div class="card-body">
                <h5 class="card-title">1 col B - John Locke</h5>
                <hr>
                <p class="card-text">Alunos:</p>
                <p class="card-text">Período:</p>
                <p class="card-text">Conteúdo:</p>
              </div>
              <!--Button-->
              <div class="card-footer">
                <button type="submit" class="btn-alterar" data-toggle="modal" data-target="#editModal">Alterar</button>
                <button type="submit" class="btn-excluir"
                  onclick="return confirm('Deseja mesmo excluir a sala?')">Excluir</button>
              </div>
            </div>

            <!--Card 3-->
            <div class="card">
              <!--Body-->
              <div class="card-body">
                <h5 class="card-title">2 col A - Maquiavel</h5>
                <hr>
                <p class="card-text">Alunos:</p>
                <p class="card-text">Período:</p>
                <p class="card-text">Conteúdo:</p>
              </div>
              <!--Button-->
              <div class="card-footer">
                <button type="submit" class="btn-alterar" data-toggle="modal" data-target="#editModal">Alterar</button>
                <button type="submit" class="btn-excluir"
                  onclick="return confirm('Deseja mesmo excluir a sala?')">Excluir</button>
              </div>
            </div>
          </div>
          <br> <br>
         
          <div class="card-deck linhaB">

            <!--Card 4-->
            <div class="card">
              <!--Body-->
              <div class="card-body">
                <h5 class="card-title">2 col B - John Locke</h5>
                <hr>
                <p class="card-text">Alunos:</p>
                <p class="card-text">Período:</p>
                <p class="card-text">Conteúdo:</p>
              </div>
              <!--Buttons-->
              <div class="card-footer">
                <button type="submit" class="btn-alterar" data-toggle="modal" data-target="#editModal">Alterar</button>
                <button type="submit" class="btn-excluir"
                  onclick="return confirm('Deseja mesmo excluir a sala?')">Excluir</button>
              </div>
            </div>

            <!--Card 5-->
            <div class="card">
              <!--Body-->
              <div class="card-body">
                <h5 class="card-title">3 col A - Maquiavel</h5>
                <hr>
                <p class="card-text">Alunos:</p>
                <p class="card-text">Período:</p>
                <p class="card-text">Conteúdo:</p>
              </div>
              <!--Buttons-->
              <div class="card-footer">
                <button type="submit" class="btn-alterar" data-toggle="modal" data-target="#editModal">Alterar</button>
                <button type="submit" class="btn-excluir"
                  onclick="return confirm('Deseja mesmo excluir a sala?')">Excluir</button>
              </div>
            </div>

            <!--Card 6-->
            <div class="card">
              <!--Body-->
              <div class="card-body">
                <h5 class="card-title">3 col B - John Locke</h5>
                <hr>
                <p class="card-text">Alunos:</p>
                <p class="card-text">Período:</p>
                <p class="card-text">Conteúdo:</p>
              </div>
              <!--Button-->
              <div class="card-footer">
                <button type="submit" class="btn-alterar" data-toggle="modal" data-target="#editModal">Alterar</button>
                <button type="submit" class="btn-excluir"
                  onclick="return confirm('Deseja mesmo excluir a sala?')">Excluir</button>
              </div>
            </div>
          </div>
          <br>
        </div>


      </div>
    </div>

  </section>


  <!-- Footer da Página -->
  <%- include('../partials/footer') %>
</main>

<!-- Modal editar sala de aula  -->
<div id="editModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">

      <!--Form modal-->
      <form action="" method="">

        <!--Header - titulo-->
        <div class="modal-header">
          <h4 class="modal-title">Editar informações</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>

        <!--Body - alunos, periodo, conteudo-->
        <div class="modal-body">

          <!--alunos-->
          <div class="form-group">
            <label for="modal-alunos"></label>
            <input type="text" class="form-control" id="modal-alunos" placeholder="Alunos" required>
          </div>

          <!--periodo-->
          <div class="form-group">
            <label for="modal-periodo"></label>
            <input type="text" class="form-control" id="modal-periodo" placeholder="Período" required>
          </div>

          <!--conteudo-->
          <div class="form-group">
            <label for="modal-conteudo"></label>
            <textarea type="text" class="form-control" id="modal-conteudo" placeholder="Conteúdo" required></textarea>
          </div>

        </div>

        <!--Footer - buttons desistir e alterar-->
        <div class="modal-footer">
          <input type="button" class="btn-modal-cancelar" data-dismiss="modal" value="Desistir">
          <input type="submit" class="btn-modal-enviar" value="Alterar">
        </div>
        
      </form>
    </div>
  </div>
</div>


<!-- Importando Jquery -->
<script type="text/javascript" src="/vendor/jquery.min.js"></script>
<!-- Importando Bootstrap JS -->
<script type="text/javascript" src="/vendor/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/javascripts/src/actions/logout.js"></script>
<script type="text/javascript" src="/javascripts/dist/ProfessorAlterarDados.js"></script>
</body>

</html>