<!-- Header da Página -->
<%- include('../partials/professor-head') %>


<main>

    <!-- Section engolba nav-left + form postar nota-->
    <section class="first-section">

        <div class="container">
            <div class="row">

                <!-- Nav left -->
                <%- include('../partials/professor-nav-left') %>

                <!--Formulário-->
                <div class="col-9 shadow-sm p-3 mb-5 bg-white rounded formulário-notas">

                    <!--Título-->
                    <h3 class="form-notas-titulo">Cadastro de notas</h3>

                    <form id="cadastrar-nota" method="POST" action="/professor/postar-nota">

                        <!--DIV engloba - serie e matéria-->
                        <div class="form-row justify-content-center">

                            <!--DIV serie selector-->
                            <div class="form-group col-md-4">
                                <label for="inputSerie"></label>
                                <select id="inputSerie" class="form-control">
                                    <option selected>Série</option>
                                    <option>1 col A</option>
                                    <option>1 col B</option>
                                    <option>2 col A</option>
                                    <option>2 col B</option>
                                    <option>3 col A</option>
                                    <option>3 col B</option>
                                </select>
                            </div>

                            <!--DIV materia selector-->
                            <div class="form-group col-md-4">
                                <label for="inputMateria"></label>
                                <select id="inputMateria" class="form-control">
                                    <option selected>Matéria</option>
                                    <option>Maquiavel</option>
                                    <option>John Locke</option>
                                </select>
                            </div>
                        </div>

                        <!--DIV engloba - aluno e nota-->
                        <div class="form-row justify-content-center">

                            <!--Aluno selector -->
                            <div class="form-group col-md-6">
                                <label for="inputAluno"></label>
                                <select id="inputAluno" class="form-control">
                                    <option selected>Aluno</option>
                                    <option>Duda Beat</option>
                                    <option>Duda Beat</option>
                                    <option>Duda Beat</option>
                                    <option>Duda Beat</option>
                                </select>
                            </div>

                            <!--Nota -->
                            <div class="form-group col-md-2">
                                <label for="inputNota"></label>
                                <select id="inputNota" class="form-control">
                                    <option selected>Nota</option>
                                    <option>A</option>
                                    <option>B</option>
                                    <option>C</option>
                                    <option>D</option>
                                    <option>E</option>
                                </select>
                            </div>
                        </div>

                        <!--DIV Senha e button enviar-->
                        <div <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputPassword"></label>
                                <input type="password" class="form-control" id="inputPasswordNota"
                                    placeholder="Digite sua senha">
                            </div>
                            <button type="submit" class="btn-enviar-nota">Enviar</button>
                        </div>

                    </form>
                </div>

            </div>
        </div>

    </section>
</main>

<!-- Footer da Página -->
<%- include('../partials/footer') %>
</main>

<!-- Importando Jquery -->
<script type="text/javascript" src="/vendor/jquery.min.js"></script>
<!-- Importando Bootstrap JS -->
<script type="text/javascript" src="/vendor/bootstrap.bundle.min.js"></script>

</body>

</html>