* {
    box-sizing: border-box;
}

.body {
    margin: 0%;
    padding: 0px;
}


/* HEADER */

.jumbotron {
    background-image: url('../../images/banner_text.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 100%;
    height: 682px;
    padding: 0px !important;
    position: relative;
}


/* Menu */

nav ul li a {
    font-size: 18px;
    font: sans-serif bold;
    color: white;
    width: 100px;
    text-align: center;
    font-weight: 300px;
    padding: 40px;
}

nav ul li a:hover {
    background-color: rgb(241, 109, 110);
    color: white;
    border-radius: 15px;
}


/* Menu drop-down */

.navbar-nav .dropdown-menu {
    left: -45px;
}

#navDrop.dropdown-menu.show {
    background-color: rgb(130, 137, 121);
    border-radius: 15px;
    text-align: center;
    list-style: none;
    padding: 0;
    width: 100%;
}

#navDrop a {
    font-size: 15px;
    font: sans-serif bold;
    color: white;
    padding: .5em 0;
}

#navDrop a:hover {
    background-color: rgb(241, 109, 110);
    color: white;
    border-radius: 15px;
}

.navbar-toggler {
    border: 1px solid lightgrey;
}

.navbar-toggler-icon {
    border: 1px solid lightgrey;
}


/* Botão */

.button-header {
    display: inline-block;
    background-color: rgb(254, 198, 86);
    color: grey;
    position: absolute;
    top: 550px;
    left: 100px;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}

.button-header:hover {
    background-color: rgb(241, 109, 110);
    color: white;
}

a.button-header {
    text-decoration: none;
    font-size: 18px;
    color: white;
}


/* MAIN */


/* Primeira Section*/

article {
    margin: 70px;
}

article h2 {
    font-family: sans-serif bold;
    color: rgb(96, 195, 171);
}

.body-text-p {
    font-size: 18px;
    font: sans-serif bold;
    color: grey;
    text-align: justify;
    line-height: 30px;
}

a span {
    font-family: sans-serif bold;
    font-size: 15px;
}


/* Botao - leia mais */

.sobre-nos-leia-mais {
    font-family: sans-serif bold;
    color: white;
    font-size: 15px;
    background-color: rgb(254, 198, 86);
    border-radius: 15px;
    padding: 12px;
}

.sobre-nos-leia-mais:hover {
    background-color: rgb(241, 109, 110);
    border-radius: 15px;
    text-decoration: none;
    color: white;
}

.body-linha-divisoria {
    border: 0px;
    border-top: 1px solid;
}

.img1 {
    width: 300px;
    height: 300px;
    display: block;
    margin-left: 100px;
    margin-right: 0px;
    max-width: 50%;
}

.img2 {
    width: 300px;
    height: 300px;
    display: block;
    margin-right: 100px;
    margin-left: 0px;
}

.img3 {
    width: 300px;
    height: 300px;
    display: block;
    margin-left: 100px;
    margin-right: 0px;
    max-width: 50%;
}

.img4 {
    width: 300px;
    height: 300px;
    display: block;
    margin-right: 100px;
    margin-left: 0px;
}


/* Segunda Section */

.form {
    background-color: lightgrey;
    border-radius: 15px;
}

section h2 {
    font-family: sans-serif bold;
    color: rgb(96, 195, 171);
}

.btn {
    background-color: rgb(254, 198, 86);
    border-radius: 15px;
}

.btn:hover {
    background-color: rgb(241, 109, 110);
    border-radius: 15px;
}


/* Footer */

.footer-titulo-f {
    font-family: sans-serif bold;
    color: rgb(96, 195, 171);
}

.footer-titulo-s {
    font-family: sans-serif bold;
    color: rgb(96, 195, 171);
    margin-left: 100px;
}

.footer-titulo-t {
    font-family: sans-serif bold;
    color: rgb(96, 195, 171);
    margin-left: 50px;
}

footer p {
    text-align: justify;
    font-size: 12px;
    font-family: sans-serif bold;
    margin: 0px 0px 10px;
}

.footer-lista-f-item {
    display: inline;
}

.footer-lista-s-item {
    margin-left: 35%;
}

.footer-lista-s-item-a {
    font-family: sans-serif bold;
    font-size: 12px;
    color: black;
    padding: 0px;
    /*margin-left: 60px;*/
}

.footer-lista-s-item-a:hover {
    color: black;
    text-decoration: none;
}

.footer-lista-t-item {
    font-family: sans-serif bold;
    font-size: 12px;
    color: black;
    list-style-type: none;
    padding: 0px;
    /* margin-left: 11px;*/
}

.direitos-reservados {
    /*text-align: center;*/
    font-size: 10px;
    font-family: sans-serif bold;
}

#botaotop {
    text-decoration: none;
    background: rgb(241, 109, 110);
    bottom: 30px;
    right: 30px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    position: fixed;
    border: 0;
    font-family: sans-serif;
    opacity: .8;
    border-radius: 50%;
}

#botaotop:hover {
    opacity: 1;
}