/* links da barra de navegação */

#links {
    display: flex;
    justify-content: space-between;
}


/* divisória do logo do sistema */

#logo {
    padding-left: 5%;
}


/* formatacao do texto da barra de navegação (logo e links) */

.textoPrincipal {
    font-family: 'Poppins', sans-serif;
    padding: 40px 0;
}


/* formatacao do texto da descrião dos icones (professor, gráfico e calendário) */

.descricao {
    color: black;
    font-family: 'Poppins', sans-serif;
}


/* divisória da barra de navegação */

#navegador {
    background-color: rgb(92, 100, 191);
    border-bottom: solid 2px;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
}


/* Primeira Section */

#fundo1 {
    background-image: url(../../../views/img/fundo-index1.png);
    height: 900px;
    width: 100%;
}


/* Segunda Section  */

#fundo2 {
    height: 40%;
    width: 100%;
}


/* Imagem da primeira section */

#imagemIndex {
    width: 75%;
}


/* formatação do texto das sections */

.texto {
    font-family: 'Oswald', sans-serif;
}


/* Coluna esquerda da primeira section */

#colunaImagem1 {
    padding-left: 5%;
    padding-top: 10%;
}


/* icones (professor, gráfico e calendário) */

.iconesIndex {
    width: 100px;
}


/* divisória que contém os icones e suas descrições */

#linhaIcones {
    padding-top: 35%;
}


/* rodapé do sistema */

#rodape {
    background-image: url(../../../views/img/footer.png);
    height: 499px;
    width: 100%;
}


/* formatação do texto contido no rodapé */

.textoRodape {
    padding-top: 17%;
}


/* Formatação dos textos com a tela entre 300 e 576 pixels de largura */

@media (min-width: 300px) {
    a {
        font-size: 12px;
    }
    .textoPrincipal {
        font-size: 20px;
    }
    .texto {
        font-size: 18px;
    }
    .textoIcone {
        font-size: 14px;
    }
}


/* Formatação dos textos com a tela entre 576 e 768 pixels de largura */

@media (min-width: 576px) {
    a {
        font-size: 14px;
    }
    .textoPrincipal {
        font-size: 24px;
    }
    .texto {
        font-size: 22px;
    }
    .textoIcone {
        font-size: 16px;
    }
}


/* Formatação dos textos com a tela entre 768 e 992 pixels de largura */

@media (min-width: 768px) {
    a {
        font-size: 16px;
    }
    .textoPrincipal {
        font-size: 28px;
    }
    .texto {
        font-size: 26px;
    }
    .textoIcone {
        font-size: 18px;
    }
}


/* Formatação dos textos com a tela entre 992 e 1200 pixels de largura */

@media (min-width: 992px) {
    a {
        font-size: 20px;
    }
    .textoPrincipal {
        font-size: 32px;
    }
    .texto {
        font-size: 30px;
    }
    .textoIcone {
        font-size: 20px;
    }
}


/* Formatação dos textos com a tela com mais de 1200 pixels de largura */

@media (min-width: 1200px) {
    a {
        font-size: 22px;
    }
    .textoPrincipal {
        font-size: 36px;
    }
    .texto {
        font-size: 34px;
    }
    .textoIcone {
        font-size: 22px;
    }
}