/* Imagem Principal 404 */

#imagem404{
    width:35rem;
    height:20rem;
}
  
/* Todo o corpo da página */
  
.corpo404{
    margin-top:5%;
}
  
/* Texto de Aviso */
  
.texto404{
    font-family: 'Poppins', sans-serif;
}